<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.addie.maxfocus">

    <!-- Permissions needed to access current app in use -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCU" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.AppsActivity"
            android:launchMode="singleTask"
            android:noHistory="true" />
        <activity
            android:name=".ui.DialogActivity"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".receiver.AppDialogBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.addie.maxfocus.service.action.APP_DIALOG" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AlarmActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.StudyTimerActivity"
            android:noHistory="true" />

        <provider
            android:name=".data.generated.AppProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <receiver
            android:name=".widget.AppIconWidget"
            android:label="Timed App">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_icon_widget_info" />
        </receiver>

        <activity
            android:name=".widget.AppIconWidgetConfigureActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LaunchAppFromWidgetService"
            android:exported="false" />
        <service
            android:name=".service.SetAlarmService"
            android:exported="false" />

        <receiver
            android:name=".widget.AlarmWidget"
            android:label="1 Tap Alarm">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alarm_widget_info" />
        </receiver>

        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.addie.maxfocus.ui.MainActivity" />
        </activity>
    </application>

</manifest>