<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.addie.maxfocus">

    <!-- Permissions needed to access current app in use -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.AppsActivity"
            android:launchMode="singleTask"
            android:noHistory="true" />
        <activity
            android:name=".ui.DialogActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:theme="@style/AnimatedDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.addie.maxfocus.ui.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />

        <provider
            android:name=".data.generated.AppProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <receiver
            android:name=".widget.AppIconWidget"
            android:label="Timed App">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_icon_widget_info" />
        </receiver>

        <activity
            android:name=".widget.AppIconWidgetConfigureActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LaunchAppFromWidgetService"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:noHistory="true"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.addie.maxfocus.ui.MainActivity" />
        </activity>

        <service
            android:name=".service.AppTimeDialogService"
            android:exported="false" />

        <activity
            android:name=".ui.ForegroundServiceActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.IntroActivityOld"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".ui.IntroActivityNew"></activity>
        <activity
            android:name=".ui.IntroActivity3"
            android:theme="@style/AppFullScreenTheme">
        </activity>
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>